body {
    font-family: 'Varela Round', sans-serif;
    font-size: 11pt;
    max-width: 1200px;
    margin: 0 auto;
    border: 0;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

h1 {
    margin-top: 10px;
    line-height:20px;
}

h2 {
    display: inline;
    font-size: 20pt;
    color: #000;
}

a {
    text-decoration: none;
    color: rgb(176,17,77);
}


.bg-nova {
    background-color: #f7941d;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
   Multicoloured Hover Variations
*/

#social-fb {
    color: #f7941d;
}
#social-tw {
    color: #f7941d;
}
#social-gh {
    color: #f7941d;
}
#social-em {
    color: #f7941d;
}
#social-slack {
    color: #f7941d;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-em:hover {
    color: #fff;
}
#social-gh:hover {
    color: #000;
}
#social-slack:hover {
    color: #49C39E;
}


/* Logo and Navigation */
.logo span {
    color: #777;
}

nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;

    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding: 5px;
    padding-bottom: 0px;
}

.nav-item a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: lighter;
    text-transform: uppercase;
}

.nav-item a:hover {
    border-bottom: 5px solid #000;
    display: inline-block;
    padding-bottom: 3px;
}

.nav-item a:active, .nav-item .current-link {
    border-bottom: 5px solid #000;
    display: inline-block;
    padding-bottom: 3px;
}

nav .underlined {
    border-bottom: 2px solid #DDD;
}


/* Layouts and colors */
.paperbg {
    background-image: url('/assets/paper_bg.jpg');
    min-height: 200px;
    color: #000;
    margin-top: 20px;
}

.paperbg h2 {
    text-transform: uppercase;
    display: inline;
}

.paperbg h3.version {
    color: rgb(171,1,67);
    font-weight: lighter;
    font-face: 'Open serif';
}

.redish {
    background: rgb(171,1,67);
    color: #FFF;
}

.redish h2 {
    color: #FFF;
}


/* News */
.news-item {
    color: #000;
}

.news-item small {
    color: #888;
}

.news-item h3 {
    font-size: 17pt;
}

.erlang-line {
    font-size: 17pt;
    color: rgb(180, 36, 88);
    display: inline;
    font-family:'Varela Round';
}


/* Buttons */
.button {
    color:#f5f5f5;
    font-family:'Varela Round';
    border: 1px solid #8e0000;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}

.red-button {
    box-shadow:inset 0px 1px 3px 0px #dbf2d5;
    background:linear-gradient(to bottom, #bc004e 5%, #98173c 100%);
    background-color:#bc004e;
    border-radius:5px;
    border:1px solid #8e0000;
    display:inline-block;
    cursor:pointer;
    color:#f5f5f5;
    font-family:'Varela Round';
    font-size:15px;
    font-weight:600;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #000000;
}
.red-button:hover {
    text-decoration: none;
    color:#f5f5f5;
}
.red-button:active {
    background:linear-gradient(to bottom, #98173c 5%, #bc004e 100%);
    background-color:#98173c;
    position:relative;
    top:1px;
}

.button.red-flat {
    background-color: rgb(144,0,56);
    border: 1px solid #8e0000;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-family: 'Varela Round';
    padding: 6px 12px;
}

/* Release page */
.release-box {
    background: rgb(241, 241, 241);
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.release-box h2 {
    color: rgb(171,1,67);
}
