body {
  margin: 0;
  font-family: Rockwell;
  background-color: #fff; /*  rgb(233, 232, 238);*/
}

.hero-radiant {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgb(190,30,45);
  background: radial-gradient(
    circle,
    rgba(190,30,45, 1) 0%,
    rgba(28,117,188, 1) 36%,
    rgb(233, 232, 238) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(190,30,45);
}

.hero-inner-white {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}


.hero-radiant h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #fff; /* rgb(233, 232, 238);*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: rgb(190,30,45);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */

.navbar a:hover {
  background: #ddd;
  color: black;
}

.content {
  margin-top: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.content-red {
  margin-top: 10px;
  background-color: rgb(190,30,45);
}

main {
  margin-top: 10px;
  color: black;
}

.bg-card {
    background-color: rgb(233, 232, 238);
}

a {
    color: #1C75BC
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.title-red {
  color: rgb(190,30,45);
}  

.p-padding {
    padding: 10px;
}
