{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.

{deps, [
        {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
        {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
       ]}.

{relx, [{release, {"nova_blog-dev", "0.1.0"},
         [nova_blog]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
