{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers", "src/views"]}.

{erlydtl_opts, [{doc_root, "src"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.
{shell, [{config, "./config/sys.config.local"}]}.

{deps, [
        {nova, ".*",
         {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
        {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
        {epgsql, {git, "https://github.com/epgsql/epgsql.git", {branch, "master"}}}
       ]}.

{plugins, [
           {rebar3_nova_serve, {git, "https://github.com/novaframework/rebar3-nova-serve.git", {branch, "master"}}},
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.


{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.

{relx, [{release, {"nova_blog", "0.1.6"}, [nova_blog]},
        {dev_mode, true},
        {include_erts, true},
        {sys_config, "config/sys.config"},
        {extended_start_script, true}
       ]}.

{profile, [
           {prod, [
                   {relx, [{dev_mode, false},
                           {include_erts, true},
                           {include_src, false},
                           {sys_config, "config/sys.config"}]}
                  ]}
          ]}.

{erl_opts, [debug_info, fail_on_warning]}.
{xref_checks, [undefined_function_calls]}.
