[
 {kernel, [
           {logger_level, info}
          ]},
 {nova, [
         {cowboy_configuration, #{
                                  port => 8081
                                 }},
         {dev_mode, true}
        ]},
 {nova_blog, [{nova_applications, [
                                   nova_blog
                                  ]},
              {postgres_config, #{host => "127.0.0.1",
                                  username => "postgres",
                                  password => "root",
                                  database => "nova_blog",
                                  port => 5555}}
             ]}
].
